/* ---------------------main----------------------------- */

main{
    padding-top: 80px;
}

#carousel{
    display: flex;
    height: calc(100vh - 110px);
    width: 100%;
    align-content: center;
    justify-content: center;
    
    & #carouselExampleIndicators{
        height: auto;
        max-width: 100%;
        width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .carousel-item{
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        & .iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}


/* ---------------------main----------------------------- */